.col-md-12
  =haml :'/shared/_page_header', locals: {client: @client, primary: @client.identifier, secondary: @url.name}

.col-md-12
  =haml :'/shared/_times', locals: {average: average, max: max, min: min }

.col-md-3
  %h4 Request Types
  - @url.associated_verbs.each do |verb, count|
    %p= "#{verb}: #{count}"

.col-md-3
  %h4 User Agents
  - @url.top_three_user_agents.each do |user_agent|
    %p= "#{user_agent.browser} : #{user_agent.platform}"

.col-md-3
  %h4 Referrers
  - @url.top_three_referrers.each do |referrer|
    %p= "#{referrer.name}"


